#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Reset Retry count
Comment=Resets failed events retry count
Exec=sudo /usr/local/bahmni/bin/bahmni.sh reset-retry-count
Terminal=true
Type=Application
